.container {
  padding: 30px 20px;
}

.profile__alert {
  margin-bottom: 30px;
}

form {
  max-width: 500px;
}

.form-group,
.main-login__form {
  width: 100%;
}

.main-login__form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.mt-4 {
  margin-top: 1rem !important;
}

.home__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.create__button {
  font-size: 13px;
  font-weight: 500;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
}

.page {
  flex: 1 1 auto;
  position: relative;
}

.button-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
}
